
				<section class="{{ content.prefix }}">
					<div class="{{ content.prefix }}__container  container">
						{% if content.title %}
						<{{ content.title_tag }} class="{{ content.prefix }}__title">
							{{ content.title }}
						</{{ content.title_tag }}>
						{% endif %}
						<div class="{{ content.prefix }}__row">
							<div class="{{ content.prefix }}__col-left">
								{% if content.text %}
								<div class="{{ content.prefix }}__text">
									{{ content.text }}
								</div>
								{% endif %}
								{% if content.btn %}
								<div class="{{ content.prefix }}__btn-wrap">
									<a href="{{ content.btn_link }}" target="_blank" class="{{ content.prefix }}__btn">{{ content.btn }}</a>
								</div>
								{% endif %}
							</div>
							<div class="{{ content.prefix }}__col-right">
								{% if content.video %}
								<div class="{{ content.prefix }}__video">
									<img src="{{ path.img }}{{ content.img_path }}/{{ content.video_img }}" alt="{{ content.title }}">
									<a class="{{ content.prefix }}__video-btn" href="{{ content.video }}" target="_blank"><span>Смотреть видео</span></a>
								</div>
								{% endif %}
								{% if content.picture %}
									<div class="{{ content.prefix }}__img-wrap">
										<picture class="{{ content.prefix }}__img">
											<img src="{{ path.img }}{{ content.img_path }}/{{ content.picture }}" alt="{{ content.title }}">
										</picture>
									</div>
								{% endif %}
								{% if content.footnote %}
								<div class="{{ content.prefix }}__footnote">
									{{ content.footnote }}
								</div>
								{% endif %}
								{% if content.img_list %}
								{% for img in content.img_list %}
								<div class="{{ content.prefix }}__img{{ img.mod }}">
									<img src="{{ path.img }}{{ content.img_path }}/{{ img.img }}" alt="">
								</div>
								{% endfor %}
								{% endif %}
								{% if content.img %}
								{% set img_ext = 'jpg' %}
								{% if content.img_ext %}
									{% set img_ext = content.img_ext %}
								{% endif %}
								{% set picture_path = path_img %}
								{% if content.img_path %}
									{% set picture_path = content.img_path %}
								{% endif %}
								<div class="{{ content.prefix }}__img-wrap">
									<picture class="{{ content.prefix }}__img">
										<source type="image/webp" srcset="{{ path.img }}{{ picture_path }}/{{ content.img }}.webp">
										<img src="{{ path.img }}{{ picture_path }}/{{ content.img }}.{{ img_ext }}" alt="{{ content.title }}">
									</picture>
								</div>
								{% endif %}
								{% if content.bg %}
									{% set bg_ext = 'jpg' %}
									{% if content.bg_ext %}
										{% set bg_ext = content.bg_ext %}
									{% endif %}
									{% set bg_path = path_img %}
									{% if content.bg_path %}
										{% set bg_path = content.bg_path %}
									{% endif %}
									<picture class="{{ content.prefix }}__bg">
										<source type="image/webp" srcset="{{ path.img }}{{ bg_path }}/{{ content.bg }}.webp">
										<img src="{{ path.img }}{{ bg_path }}/{{ content.bg }}.{{ bg_ext }}" alt="">
									</picture>
								{% endif %}
							</div>
						</div>
					</div>
				</section>