<div class="main-container">
	<div class="main" role="main">
		<div class="std">
			<div id="promo">
				{% for content in content %}
				{% if content.view == "header" %}
				<section class="{{ content.prefix }}"  id="header_block">
					<picture class="{{ content.prefix }}__bg">
						<source type="image/webp" srcset="{{ path.img }}/promo/2022/P-8410/{{ content.bg }}-xs.webp" media="(max-width: 500px)">
						<source type="image/jpeg" srcset="{{ path.img }}/promo/2022/P-8410/{{ content.bg }}-xs.jpg" media="(max-width: 500px)">
						<source type="image/webp" srcset="{{ path.img }}/promo/2022/P-8410/{{ content.bg }}-md.webp" media="(max-width: 1199px)">
						<source type="image/jpeg" srcset="{{ path.img }}/promo/2022/P-8410/{{ content.bg }}-md.jpg" media="(max-width: 1199px)">
						<source type="image/webp" srcset="{{ path.img }}/promo/2022/P-8410/{{ content.bg }}-xl.webp" media="(min-width: 1200px)">
						<img src="{{ path.img }}/promo/2022/P-8410/{{ content.bg }}-xl.jpg" alt="">
					</picture>
					<div class="{{ content.prefix }}__container">
						<h1 class="{{ content.prefix }}__heading">
							{{ content.title }}
						</h1>
						<div class="{{ content.prefix }}__note">
							{{ content.note }}
						</div>
					</div>
				</section>
				{% endif %}
				{% if content.view == "card" %}
				<section class="{{ content.prefix }}">
					<div class="{{ content.prefix }}__container">
						<div class="{{ content.prefix }}__slider  swiper-container">
							<div class="swiper-wrapper">
								{% for card in content.card %}
									<div class="{{ content.prefix }}__item  swiper-slide">
										<div class="{{ content.prefix }}__item-wrap">
											<div>
												<a href="{{ card.link }}" target="_blank">
													<picture class="{{ content.prefix }}__item-img">
														<source type="image/webp" srcset="{{ path.img }}/promo/2022/P-8410/{{ card.img }}.webp">
														<img src="{{ path.img }}/promo/2022/P-8410/{{ card.img }}.png" alt="{{ card.name }}">
													</picture>
												</a>

												<p class="{{ content.prefix }}__item-name">
													<a href="{{ card.link }}" target="_blank">{{ card.name }}</a>
												</p>
												<div class="{{ content.prefix }}__item-note">
													{{ card.note }}
												</div>
											</div>
											<div class="{{ content.prefix }}__item-group">
												<div class="{{ content.prefix }}__item-price">
													{% if status.name == 'prod' %}
														{{  '{{widget type="aristos_widgets/widget_price" sku="'}}{{ card.sku }}{{ '" old_price="1" cache_lifetime="86400"}} '}}
													{% else %}
													<div class="price-box">
														{% if card.cost_old %}
														<p class="old-price">
															<span class="price">{{ card.cost_old }} ₽</span>
														</p>
														{% endif %}
														<p class="special-price">
															<span class="price">{{ card.cost }} ₽ </span>
														</p>
													</div>
													{% endif %}
												</div>
												<div class="{{ content.prefix }}__item-btn">
													{% if status.name == 'prod' %}
															{{  '{{widget type="aristos_widgets/widget_addToCart" sku="'}}{{ card.sku }}{{ '" cache_lifetime="86400"}} '}}
														{% else %}
															<a href="{{ card.bay }}" target="_blank" class="button button_in-stock">Купить</a>
															<a href="{{ card.bay }}" target="_blank" class="button button_out-stock">Сообщить о поступлении</a>

														{% endif %}
{#														<a href="{{ card.bay }}" target="_blank" class="button button_in-stock">Купить</a>#}
														<a class="button  scrollto" href="#sku_block" data-scrollto-diff="-60">Смотреть всю серию</a>

													</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
						<button type="button" class="{{ content.prefix }}__slider-btn swiper-button-prev"></button>
						<button type="button" class="{{ content.prefix }}__slider-btn  swiper-button-next"></button>
						<div class="{{ content.prefix }}__btn-wrap">
							<a href="{{ content.link }}" class="{{ content.prefix }}__btn  scrollto" data-scrollto-diff="-60">
								{{ content.btn }}
							</a>
						</div>
					</div>
				</section>
				{% endif %}
				{% if content.view == "features" %}
				<section class="{{ content.prefix }} swiper-container" id="trimmery-features">
					<div class="swiper-wrapper">
						{% for card in content.card %}
						<div class="{{ content.prefix }}__item  swiper-slide  {{ card.mod }}">
							{% if card.bg %}
							<picture class="{{ content.prefix }}__item-bg">
								<source type="image/webp" srcset="{{ path.img }}/promo/2022/P-8410/{{ card.bg }}-xs.webp" media="(max-width: 500px)">
								<source type="image/jpeg" srcset="{{ path.img }}/promo/2022/P-8410/{{ card.bg }}-xs.jpg" media="(max-width: 500px)">
								<source type="image/webp" srcset="{{ path.img }}/promo/2022/P-8410/{{ card.bg }}.webp">
								<img src="{{ path.img }}/promo/2022/P-8410/{{ card.bg }}.jpg" alt="">
							</picture>
							{% endif %}
							<div class="{{ content.prefix }}__item-wrap">
								<div class="{{ content.prefix }}__item-note">
									{% if card.icon %}
										<picture class="{{ content.prefix }}__item-icon">
											<source type="image/webp" srcset="{{ path.img }}/promo/2022/P-8410/{{ card.icon }}.webp">
											<img src="{{ path.img }}/promo/2022/P-8410/{{ card.icon }}.png" alt="">
										</picture>
									{% endif %}
									{{ card.note }}
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<button type="button" class="{{ content.prefix }}__btn swiper-button-prev"></button>
					<button type="button" class="{{ content.prefix }}__btn  swiper-button-next"></button>
				</section>
				{% endif %}
				{% if content.view == "description" %}
				<section class="{{ content.prefix }}">
					<div class="{{ content.prefix }}__container">
						<div class="{{ content.prefix }}__flex">
							<div>
								<div>
									<p class="{{ content.prefix }}__name">{{ content.name }}</p>
									<h3 class="{{ content.prefix }}__title">{{ content.title }}</h3>
									<div class="{{ content.prefix }}__reviews">
										<img src="{{ path.img }}/promo/2022/P-8410/reviews.svg" alt="">
										<a href="{{ content.reviews }}" target="_blank" class="{{ content.prefix }}__reviews-btn">Отзывы</a>
									</div>
									<div class="{{ content.prefix }}__img-wrap  hidden-md">
										<picture class="{{ content.prefix }}__img">
											<source type="image/webp" srcset="{{ path.img }}/promo/2022/P-8410/{{ content.img }}.webp" >
											<img src="{{ path.img }}/promo/2022/P-8410/{{ content.img }}.jpg" alt="{{ content.name }}">
										</picture>
										<div class="{{ content.prefix }}__img-sku">{{ content.sku }}</div>
									</div>
								</div>
								<div class="{{ content.prefix }}__card-wrap">
									{% for card in content.card %}
									<div class="{{ content.prefix }}__card">
										<picture class="{{ content.prefix }}__card-img">
											<source type="image/webp" srcset="{{ path.img }}/promo/2022/P-8410/{{ card.img }}.webp">
											<img src="{{ path.img }}/promo/2022/P-8410/{{ card.img }}.png" alt="{{ card.name }}">
										</picture>
										<div class="{{ content.prefix }}__card-desc">
											<p class="{{ content.prefix }}__card-name">{{ card.name }}</p>
											<div class="{{ content.prefix }}__card-note">
												{{ card.note }}
												<button class="{{ content.prefix }}__card-btn"></button>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
								<div class="{{ content.prefix }}__price">
									{% if status.name == 'prod' %}
										{{  '{{widget type="aristos_widgets/widget_price" sku="'}}{{ content.sku }}{{ '" old_price="1" cache_lifetime="86400"}} '}}
									{% else %}
										<div class="price-box">
											{% if content.cost_old %}
												<p class="old-price">
													<span class="price">{{ content.cost_old }} ₽</span>
												</p>
											{% endif %}
											<p class="special-price">
												<span class="price">{{ content.cost }} ₽ </span>
											</p>
										</div>
									{% endif %}
									{% if status.name == 'prod' %}
										{{  '{{widget type="aristos_widgets/widget_addToCart" sku="'}}{{ content.sku }}{{ '" cache_lifetime="86400"}} '}}
									{% else %}
										<a href="{{ content.bay }}" target="_blank" class="button button_in-stock">Купить</a>
									{% endif %}

									<a href="{{ content.link }}" target="_blank" class="button">Подробнее</a>
								</div>
							</div>
							<div class="{{ content.prefix }}__img-wrap  visible-md">
								<picture class="{{ content.prefix }}__img">
									<source type="image/webp" srcset="{{ path.img }}/promo/2022/P-8410/{{ content.img }}.webp" >
									<img src="{{ path.img }}/promo/2022/P-8410/{{ content.img }}.jpg" alt="{{ content.name }}">
								</picture>
								<div class="{{ content.prefix }}__img-sku">{{ content.sku }}</div>
							</div>
						</div>
					</div>
				</section>
				{% endif %}
				{% if content.view == "reviews" %}
					<div class="box-collateral box-collateral_product_review_data" id="box-product_review_data">
						<div class="box-collateral__container">
							<h2 class="box-collateral__title js-toggle-button  {{ content.status }}">{{ content.title }}</h2>
							<div class="box-wrap js-toggle-content  {{ content.status }}">
								<div class="box-reviews" id="customer-reviews">
									<h3 class="box-reviews__title">{{ content.title }}</h3>
									<div class="review-summary">
										<div class="review-summary__item">
											<div class="review-summary__total">
												<div class="review-summary__stats">
													<span class="review-summary__stats-number">4.91</span>
													<span class="review-summary__stats-text review-summary__stats-text_nowrap">из 5 звёзд</span>
												</div>
											</div>
											<div class="rating-item rating-item_summary">
												<div class="rating-item__stars">

													<span class="rating-item__star rating-item__star_big "></span>

													<span class="rating-item__star rating-item__star_big "></span>

													<span class="rating-item__star rating-item__star_big "></span>

													<span class="rating-item__star rating-item__star_big "></span>

													<span class="rating-item__star rating-item__star_big "></span>
												</div>
											</div>
											<a class="review-summary__button box-reviews__show-form js-show-review-form" href="{{ content.link }}">Оставить свой отзыв</a>
										</div>
										<div class="review-summary__item">
											<div class="review-summary__stats">
												<span class="review-summary__stats-number">15</span>
												<span class="review-summary__stats-text">отзывов</span>
											</div>
										</div>
										<div class="review-summary__item">
											<div class="review-summary__stats">
												<span class="review-summary__stats-number">100%</span>
												<span class="review-summary__stats-text">пользователей рекомендуют этот товар</span>
											</div>
										</div>
									</div>
									<ul id="customer-reviews-list" class="reviews-list">
										<li class="reviews-list__item review-item review-list review-list_filter review-list_5" id="review-27897" data-id="27897">
											<div class="review-item__left">
												<div class="rating-item rating-item_main">
													<p class="rating-item__name">Общая оценка:</p>
													<div class="rating-item__stars">
														<i class="rating-item__star rating-item__star_full"></i><i class="rating-item__star rating-item__star_full"></i><i class="rating-item__star rating-item__star_full"></i><i class="rating-item__star rating-item__star_full"></i><i class="rating-item__star rating-item__star_full"></i>                </div>
												</div>
												<span class="review-item__date">16.12.2021</span>
												<p class="review-item__user-name">
													Ксения            </p>
												<div class="review-item__recommend">Я рекомендую этот товар</div>        </div>
											<div class="review-item__right">
												<div class="review-item__container">
													<p class="review-item__detail">Приобрели этот триммер, чтобы привести в порядок внешний вид брата. После того как он решил сменить образ, ему никак не удавалась справиться со своими волосами и его внешний вид приближался к уровню бродяги! <br>
														Приятно, что триммер оказался довольно интуитивный в использовании (не пришлось долго разбираться!), а также большой плюс, что есть питание от аккумуляторов и индикатор заряда! Кстати, зарядку держит отлично, за 3 недели заряжали только 1 раз и пока еще осталось 2 деления. Несмотря на то, что не было опыта использования подобных девайсов, получилось неплохо, триммер ровно срезает волосы и не «щипает» лицо, удобно лежит в руке. Получилось даже подровнять брови)) Так что брат очень рад подарку и теперь выглядит отлично! </p>

													<div class="review-item__notes review-item__notes_pros">Достоинства: <p class="review-item__notes-text">Удобный, хорошо справляется со стрижкой, держит зарядку</p></div><div class="review-item__notes review-item__notes_cons">Недостатки: <p class="review-item__notes-text">Пока не нашли</p></div>
												</div>
											</div>
										</li>
										<li class="reviews-list__item review-item review-list review-list_filter review-list_5" id="review-27520" data-id="27520" style="">
											<div class="review-item__left">
												<div class="rating-item rating-item_main">
													<p class="rating-item__name">Общая оценка:</p>
													<div class="rating-item__stars">
														<i class="rating-item__star rating-item__star_full"></i><i class="rating-item__star rating-item__star_full"></i><i class="rating-item__star rating-item__star_full"></i><i class="rating-item__star rating-item__star_full"></i><i class="rating-item__star rating-item__star_full"></i>                </div>
												</div>
												<span class="review-item__date">22.11.2021</span>
												<p class="review-item__user-name">
													Екатерина            </p>
												<div class="review-item__recommend">Я рекомендую этот товар</div>        </div>
											<div class="review-item__right">
												<div class="review-item__container">
													<p class="review-item__detail">Пришло время и мне оставить отзыв о триммере. <br>
														Триммер использовал мой брат и хочу сказать, он им очень доволен, он его даже удивил. Так как у моего брата очень чувствительная кожа, но борода растёт с бешеной скоростью, мы решили опробовать данный триммер. Лезвия довольно острые не приходится дважды проходиться по одному и тому же месту, есть возможность регулирования длины стрижки, не громкий, очень удобно лежит в руке. По внешнему виду тоже бомба,  всё продумано, до мелочей. В коробке он лежит в очень стильном чехле. Заряд держит долго, на удивление. Рекомендую</p>

													<div class="review-item__notes review-item__notes_pros">Достоинства: <p class="review-item__notes-text">Дизайн, чистота стрижки, заряд держится долго, нет раздражения</p></div><div class="review-item__notes review-item__notes_cons">Недостатки: <p class="review-item__notes-text">Не выявлено</p></div>
												</div>
											</div>
										</li>
									</ul>
									<div class="customer-review-more">
										<a href="{{ content.link }}" class="customer-review-more__btn" target="_blank">Показать ещё</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				{% if content.view == "app" %}
				<section class="{{ content.prefix }}">
					<div class="{{ content.prefix }}__container">
						<div class="{{ content.prefix }}__wrap">
							<p class="{{ content.prefix }}__name">{{ content.name }}</p>
							<h2 class="{{ content.prefix }}__heading">{{ content.title }}</h2>
							<div class="{{ content.prefix }}__note">
								{{ content.note }}
							</div>
							<div class="{{ content.prefix }}__link">
								{% for app in content.app %}
									<a href="{{ app.link }}" target="_blank" >
										<img src="{{ path.img }}/promo/2022/P-8410/{{ app.img }}.svg" alt="">
									</a>
								{% endfor %}
							</div>
						</div>
						<picture class="{{ content.prefix }}__img">
							<source type="image/webp" srcset="{{ path.img }}/promo/2022/P-8410/{{ content.img }}.webp">
							<img src="{{ path.img }}/promo/2022/P-8410/{{ content.img }}.png" alt="">
						</picture>
					</div>
				</section>
				{% endif %}
				{% if content.view == "sku" %}
				<section class="{{ content.prefix }}" id="sku_block">
						<div class="{{ content.prefix }}__container">
							<h2 class="{{ content.prefix }}__heading">{{ content.title }}</h2>
							<div class="{{ content.prefix }}__slider  swiper-container">
								{% if status.name == 'prod' %}
									{{  '{{widget type="aristos_widgets/widget_base" sku_products="BT9810/15, MG9710/90, MG7745/15, MG5730/15, MG3710/15" limit="60" page_size="60" col_count="5" slider="true" template="catalog/product/list.phtml" visibility="4" availability_status="0,2" cache_lifetime="86400" conditions="YTo0OntzOjQ6InR5cGUiO3M6MzQ6ImNhdGFsb2dydWxlL3J1bGVfY29uZGl0aW9uX2NvbWJpbmUiO3M6MTA6ImFnZ3JlZ2F0b3IiO3M6MzoiYWxsIjtzOjU6InZhbHVlIjtzOjE6IjEiO3M6OToibmV3X2NoaWxkIjtzOjA6IiI7fQ=="}}'}}
								{% else %}
									<div class="product-cont" style="background: red">1</div>
									<div class="product-cont" style="background: red">1</div>
									<div class="product-cont" style="background: red">1</div>
									<div class="product-cont" style="background: red">1</div>
									<div class="product-cont" style="background: red">1</div>
									<div class="product-cont" style="background: red">1</div>
									<div class="product-cont" style="background: red">1</div>
								{% endif %}
								<button type="button" class="{{ content.prefix }}__slider-btn swiper-button-prev"></button>
								<button type="button" class="{{ content.prefix }}__slider-btn  swiper-button-next"></button>
							</div>
						</div>
					</section>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>