<meta charset="utf-8">
<title>{{title}} | {{contacts.domain}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{description}}"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">


<script type="text/javascript" src="//cdn.aristosgroup.ru/libs/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="//cdn.aristosgroup.ru/libs/jquery/jquery-migrate-3.3.0.min.js"></script>
<script type="text/javascript" src="//cdn.aristosgroup.ru/libs/sourcebuster/sourcebuster.min.js"></script>
<script type="text/javascript" src="//cdn.aristosgroup.ru/libs/jquery-validation/jquery.validate-1.17.0.min.js"></script>
<script type="text/javascript" src="//cdn.aristosgroup.ru/libs/jquery-blockui/jquery.blockui.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.aristosgroup.ru/libs/swiper/swiper-5.3.8.min.css" />
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/base/default/css/bundle/toolbar.css" media="all" h="default"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/aristos/debug/panel.css" media="all" h="default"/>
<script type="text/javascript" src="http://si.lite.pfse.tesla.aristos.pw/js/aristos/sourcebuster/init.js" h="default"></script>
<script type="text/javascript" src="http://si.lite.pfse.tesla.aristos.pw/js/aristos/form.js" h="default"></script>
<script type="text/javascript" src="http://si.lite.pfse.tesla.aristos.pw/js/lite/philips/common/config.js" h="default"></script>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/css/aristos/picture.css" media="all" h="picture_lazy_load"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/components/website-info/website-info.css" media="all" h="website_msg"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/components/cart/cart-header/cart-header.css" media="all" h="cart-header"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/components/search/search-input/search-input.css" media="all" h="search"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/components/search/search.css" media="all" h="search"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/header/info-navigation/info-navigation.css" media="all" h="info-navigation"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/header/login/login.css" media="all" h="login"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/components/region/region-btn/region-btn.css" media="all" h="region"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/components/compare/compare-header/compare-header.css" media="all" h="compare-header"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/header/contact-phone/contact-phone/contact-phone.css" media="all" h="contact-phone"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/components/wishlist/wishlist-header/wishlist-header.css" media="all" h="wishlist-header"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/header/slogan/slogan.css" media="all" h="slogan"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/components/order-status/order-status-link/order-status-link.css" media="all" h="order-status"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/header/navigation/navigation-top/navigation-top.css" media="all" h="navigation"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/header/header-fixed/header-fixed.extra.css" media="all" h="header-fixed"/>

<link rel="stylesheet" href="//cdn.aristosgroup.ru/fonts/centrale_sans/font/font.css" />

<link rel="canonical" href="http://si.lite.pfse.tesla.aristos.pw/vodonagrevateli" />
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/static-pages/static-pages.css" media="all" h="cms_page_view"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/theme.css" media="all" h="customer_logged_out"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/header/header.css" media="all" h="customer_logged_out"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/header/header-top/header-top.css" media="all" h="customer_logged_out"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/header/header-bottom/header-bottom.css" media="all" h="customer_logged_out"/>
<link rel="stylesheet" type="text/css" href="http://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/header/header-mobile-navigation/header-mobile-navigation.css" media="all" h="customer_logged_out"/>


<script type="text/javascript" src="http://si.lite.pfse.tesla.aristos.pw/js/lib/jquery-ui-1.11.2/jquery-ui.min.js" h="customer_logged_out"></script>


<link rel="stylesheet" type="text/css" href="https://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/widgets/banners/banners.css" media="all" h="customer_logged_out"/>

<link rel="stylesheet" type="text/css" href="https://si.lite.pfse.tesla.aristos.pw/skin/frontend/base/default/less/widgets/product-card-extended/product-card-extended.less" media="all" h="customer_logged_out"/>

<link rel="stylesheet" type="text/css" href="https://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/widgets/product-card-extended/product-card-extended.css" media="all" h="customer_logged_out"/>

<link rel="stylesheet" type="text/css" href="https://si.lite.pfse.tesla.aristos.pw/skin/frontend/lite/philips/less/widgets/reviews/reviews.css" media="all" h="customer_logged_out"/>

<link rel="stylesheet" href="https://cdn.aristosgroup.ru/fonts/centrale-sans/centrale-sans.css">
{% if style %}
{% for value in style %}
    <link href="{{path.css}}/{{value.name}}" rel="stylesheet">
{% endfor %}
{% endif %}