
				<section class="{{ content.prefix }}">
					<div class="{{ content.prefix }}__container">
						<div class="{{ content.prefix }}__desc">
							{% if content.title %}
							<{{ content.title_tag }} class="{{ content.prefix }}__title">
								{{ content.title }}
							</{{ content.title_tag }}>
							{% endif %}
							{% if content.text %}
							<div class="{{ content.prefix }}__text">
								{{ content.text }}
							</div>
							{% endif %}
						</div>
						{% if content.list %}
						<ul class="{{ content.prefix }}__list">
							{% for item in content.list %}
							<li class="{{ content.prefix }}__item">
								{% if item.img %}
								{% set ext = 'jpg' %}
								{% if item.ext %}
									{% set ext = item.ext %}
								{% endif %}
								{% set pth = path_img %}
								{% if item.path %}
									{% set pth = item.path %}
								{% endif %}
								<picture class="{{ content.prefix }}__item-img">
									{% if item.img_xs == "true" %}
									<source type="image/webp" srcset="{{ path.img }}{{ pth }}/{{ item.img }}-320.webp" media="(max-width: 575px)">
									<source type="image/jpeg" srcset="{{ path.img }}{{ pth }}/{{ item.img }}-320.{{ ext }}" media="(max-width: 575px)">
									{% endif %}
									<source type="image/webp" srcset="{{ path.img }}{{ pth }}/{{ item.img }}.webp">
									<img src="{{ path.img }}{{ pth }}/{{ item.img }}.{{ ext }}" alt="{{ item.title }}">
								</picture>
								{% endif %}
								{% if item.title %}
								<div class="{{ content.prefix }}__item-title">{{ item.title }}</div>
								{% endif %}
							</li>
							{% endfor %}
						</ul>
						{% endif %}
					</div>
				</section>